html, body {
    margin: 0;
    font-family: 'Lucida Sans', Verdana, sans-serif;
    font-size: 14px;
}

.navigation {
    padding: 10px;
    border-bottom: solid 1px #ccc;
}

.page-title {
    padding: 10px;
    border-bottom: solid 1px #ccc;
}

.hour {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: solid 1px #eee;
    border-radius: 3px;
    padding: 5px;
}

.content {
    padding: 10px 10px 0 10px;
}

.table {
    width: 500px;
    border-collapse: collapse;
    margin: 10px 0;
}

.table, tr, th, td {
    border: solid 1px #aaaaaa;
}

.table thead tr {
    background-color: #dddddd;
}